<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feirui.permission.mapper.SysUserAuthMapper">

    <select id="selectAuthIdByUserId" resultType="java.lang.String">
        select auth_id from sys_auth where user_id = #{userId} and auth_type = 1
    </select>

    <select id="selectAuthByUserId" resultType="com.feirui.permission.domain.entity.SysUserAuth">
        select sua.user_id, sua.auth_id, sua.auth_type, sua.is_contains_lower, sd.org_no
        from sys_auth sua left join sys_department sd on sua.auth_id = sd.id
        where sua.user_id = #{userId}
    </select>

</mapper>